
 {% include "MovieReview/header.html" %}

 {% block content %}
   <div class="container info-boxes pt100 pb100">
       <p></p>
       <p>Movie List</p>


        <table>
        <thead>
        <th>Movie Name</th>
        <th>Details</th>
        <th>Review</th>
        </thead>
        <tbody>
        {% for movie in Movies %}
        <tr>
        <td>{{ movie.movie_name }}</td>
        <td>{{ movie.movie_detail }}</td>
        <td>{{ movie.movie_review }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>


   </div>
 {% endblock %}
